<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mongoose Flights</title>
</head>
<%- include('../partials/nav') %>
<body>
  <h1><%= title %></h1>
  Airline: <%= flight.airline %> <br>
  Flight Number: <%= flight.flightNo %> <br>
  Departure Date: <%= flight.departs %> <br>
  Ticket information <br>
  <% if(flight.ticket.length) { %> 
  <% flight.ticket.forEach(function(ticket) { %>
    Seat: <%= ticket.seat %> <br>
    Price: $<%= ticket.price %> <br>
  <% })  %>
  <% } else {  %>
  <form id="newTicket" action="/flights/<%= flight._id %>/ticket" method="POST">
  <label for="seat">Seat</label>
  <input name="seat" required pattern="[A-F][1-9]\d?"><br>
  <label for="price">Price</label> 
  <input name="price" type="number" min="0">
  <button type="submit">Add information</button>
  </form>
  <% } %>
  Destinations: <br>
  <%- flight.destination.map(d => `${d.airport}`) %> <br>
  Add destinations: <br>
  <form id="add-des-to-flight" action="/flights/<%= flight._id %>/destination" method="POST">
    <select name="destinationID">
      <%- destinations.map(d =>
        `<option value="${d._id}">${d.airport}</option>`
      ).join('')%>
    </select>
    <button type="submit">Add destination</button>
  </form>
</body>
</html>